<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
        <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Quicksand:400,700,300">
        <link rel="stylesheet" href="{{ baseUrl }}/styles/qutheory-code.css">
        <link rel="stylesheet" href="{{ baseUrl }}/styles/main.css">
    </head>
    <body>

        <header>
            <a class="logo" href="{{ baseUrl }}/">
                <img src="{{ baseUrl }}/images/droplet.svg" alt="Vapor">
                <h1>Vapor <em>Docs</em></h1>
            </a>
            <ul>
                <li>
                    <a href="http://qutheory.io">Home</a>
                </li>
                <li>
                    <a href="http://example.qutheory.io">Example</a>
                </li>
                <li>
                    <a href="https://github.com/qutheory/vapor">GitHub</a>
                </li>
                <li>
                    <a href="https://twitter.com/@qutheory">Twitter</a>
                </li>
                <li>
                    <a href="http://slack.qutheory.io">Slack</a>
                </li>
            </ul>
        </header>

        <nav>
            <div class="scroll">
            {% for section in menu.sections %}
                <section>
                    <h3>{{ section.name }}</h3>
                    <ul>
                    {% for itemId, item in section.items %}
                        <li class="{{ itemId == currentMenu ? 'active' }}">
                            <a href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.relativeUrl) }}">
                                {{ item.text | raw }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </section>
            {% endfor %}
            </div>
        </nav>

        <main>
            <a href="https://github.com/qutheory/documentation/blob/master/CONTRIBUTING.md" class="edit">✎ Edit on GitHub</a>
            {{ content | raw }}
        </main>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="{{ baseUrl}}/scripts/highlight.pack.js"></script>

        <script>
            $(function() {
                // Syntax highlighting
                hljs.initHighlightingOnLoad();

                if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
                    $('body').addClass('safari');
                }
            });
        </script>

    </body>
</html>
